<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<appSettings>
		<add key="PaypalUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_cart"/>
    <add key="PaypalEmail" value="charity.groupteam@gmail.com"/>
		<add key="PaypalCurrency" value="USD"/>
		<add key="PaypalReturnUrl" value="http://bamiresia.org/"/>
		<add key="PaypalCancelUrl" value="http://bamiresia.org/"/>
		<add key="MailServer" value="smtp.gmail.com"/>
   
		<add key="MailUsername" value="meloberat@gmail.com "/>
		<add key="MailPassword" value="faceface"/>
		<add key="MailFrom" value="bruno.agalliu@gmail.com"/>
		<add key="EnableErrorLogEmail" value="false"/>
		<add key="ErrorLogEmail" value="melamin.kucova@gmail.com"/>
		<add key="ProductsPerPage" value="2"/>
		<add key="ProductDescriptionLength" value="60"/>
		<add key="SiteName" value="ecommerce"/>
        <add key="CartPersistDays" value="10" />
        <add key="CustomerServiceEmail" value="melamin.kucova@gmail.com" />
        <add key="OrderProcessorEmail" value="melamin.kucova@gmail.com" />
        <add key="SupplierEmail" value="melamin.kucova@gmail.com" />
  </appSettings>
	<connectionStrings>
		<add name="ecommerceConnection" connectionString="Server=brunaldo-pc; Database=ecommerce; User=brunaldo;Password=ecommerce" providerName="System.Data.SqlClient"/>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Server=brunaldo-pc;&#xA;Database=ecommerce; User=brunaldo; Password=ecommerce" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<location path="AdminKategori.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminNenkategori.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminProdukt.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminProduktDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="AdminShoppingCart.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Only administrators are allowed to access AdminOrders.aspx -->
  <location path="AdminOrders.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Only administrators are allowed to access AdminOrders.aspx -->
  <location path="AdminOrderDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Only existing customers can access CustomerDetails.aspx -->
  <location path="CustomerDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="klient" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Only existing customers can access Checkout.aspx -->
  <location path="Checkout.aspx">
    <system.web>
      <authorization>
        <allow roles="klient" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
    <!-- Only existing customers can access OrderPlaced.aspx -->
    <location path="OrderPlaced.aspx">
        <system.web>
            <authorization>
                <allow roles="klient" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <!-- Only administrators are allowed to access OrderTest.aspx -->
    <location path="OrderTest.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrators" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
	<system.web>

    <profile>
      <properties>
        <add name="CreditCard" type="System.String" />
        <add name="Address1" type="System.String" />
        <add name="Address2" type="System.String" />
        <add name="City" type="System.String" />
        <add name="Region" type="System.String" />
        <add name="PostalCode" type="System.String" />
        <add name="Country" type="System.String" />
        <add name="ShippingRegion" type="System.String" />
        <add name="DayPhone" type="System.String" />
        <add name="EvePhone" type="System.String" />
        <add name="MobPhone" type="System.String" />
        <add name="AccountConfirmationKey"/>
      </properties>
    </profile>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<roleManager enabled="true"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="ecommerceLogin" loginUrl="Login.aspx" path="/" protection="All" timeout="60">
			</forms>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages theme="ecommerceDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<customErrors mode="RemoteOnly" defaultRedirect="Oops.aspx"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>





